/*------------------------------------*\
  Components > Author Card
\*------------------------------------*/

.c-author-card {
  width: 100%;
  padding: double($base-spacing-unit);
  margin-bottom: double($base-spacing-unit);
  background-color: $bg-gray;
  border: 1px solid $color-border;
  border-radius: $global-border-radius;
  text-align: center;

  &-wrap {
    display: flex;
  }

  &__media {
    margin-bottom: $base-spacing-unit;
  }

  &__image {
    display: block;
    margin: 0 auto;
    width: quadruple($base-spacing-unit) + double($base-spacing-unit);
    height: quadruple($base-spacing-unit) + double($base-spacing-unit);
    border-radius: 100%;
  }

  &__title {
    margin-bottom: half($base-spacing-unit);
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
  }

  &__bio {
    font-size: $font-size-small;
    line-height: $line-height-small;
  }
}

.c-author-card-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style: none;

  &-item {
    font-size: $font-size-tiny;
    text-transform: uppercase;
    letter-spacing: $global-letter-spacing;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: quarter($base-spacing-unit);
    }
  }

  &-icon {
    vertical-align: middle;
    transition: $global-transition;

    @include attention() {
      fill: $color-brand;
    }
  }
}